body {
  margin: 0;
}

* {
  font-family: 'Raleway', sans-serif;
  outline: 0;
  color: #0B2545;
}

.form-group {
  padding: 5px;
}

button {
  color: #0B2545;
  background: #fff;
  border: solid 1px #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.regular-button {
  font-size: 14px;
  padding:  8px 15px;
}

.small-button {
  font-size: 12px;
}

.warning {
  background-color:#F9E784;
  border: solid 1px #f9e784;
}

.danger {
  background-color: #D05353;
  color: #fff;
  border: solid 1px #853535;
}

.danger:hover, .danger:focus {
  color: #fff;
  border: solid 1px #853535;
  font-weight: bolder;
}

button:hover, button:focus {
  color: #000;
  border: solid 1px #bbb;
}

.container-fluid {
  width: 95%;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
.row {
  padding: 3px;
  display: flex;
  width: auto;
}

.small {
  font-size: 12px;
}

.highlighted {
  border: solid 1px #ccc;
  background: #eee;
  border-radius: 5px;
}

.table {
  width: 98%;
}

.data-table thead {
  text-align: left;
}

.data-table > tbody > tr * {
  padding: 5px;
}

.data-table tr:nth-child(even) {
  color: red;
}


.task {
  border-radius: 3px;
  border: solid 1px #ccc;
  margin: 3px;
}

.task-head {
  background-color: #ccc;
  padding: 5px;
  text-align: center;
}

.task-body {
  padding: 5px;
  min-height: 10vh;
}

.task-actions {
  background-color: #eee;
  padding: 5px;
  text-align: right;
}

input[type=text], input[type=number], input[type=email], select {
  border-radius: 6px;
  padding: 8px;
  border: solid 1px #ccc;
  width: 99%;
}

input[readonly=readonly] {
  background-color: #ddd;
}

input[type=text]:focus, input[type=number]:focus, input[type=email]:focus {
  border: solid 1px #999;
}

.column {
  justify-content: space-evenly;
  width: 48%;
  padding: 5px;
}

@media (min-width: 200px) and (max-width: 500px) {
  /* Small Size */
  .column {
    width: 98%;
  }
  .task {
    width: 98%;
  }

  .row {
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media (min-width: 501px) and (max-width: 1024px) {
  /* MD Size */
  .task {
    width: 49%;
    
  }

  .row {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
}

@media (min-width: 1025px) {
  /* Large Size */ 
  .task {
    width: 24%;
  }

  .row {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.m-1 {
  margin: 2px;
}

.m-2 {
  margin: 4px;
}
.m-3 {
  margin: 6px;
}

.m-4 {
  margin: 8px;
}

.m-5 {
  margin: 10px;
}

.p-1 {
  padding: 2px;
}

.p-2 {
  padding: 4px;
}
.p-3 {
  padding: 6px;
}

.p-4 {
  padding: 8px;
}

.p-5 {
  padding: 10px;
}